<h3>kkkkkkkkkkkkkkkkkkkk</h3>



<div class="form">
  <mat-form-field appearance="outline" class="register-container-main-name1"></mat-form-field>
  <div class="name" >
    <div class="fstName">
       
      <label for="">First Name</label>
    <mat-form-field class="example-full-width">
     
    <mat-label>First name</mat-label>
    <input matInput placeholder="firstName">
  </mat-form-field>
    </div>

   <div class="2ndname">
    <label for="">Last Name</label>
    <mat-form-field class="example-full-width">
      <mat-label> Last Name </mat-label>
      <input matInput   placeholder="lastName">
    </mat-form-field>
   </div>

   <div class="email" style="margin-bottom: 10px;">
    <label for="">Email</label>
    <input
      matInput
      placeholder="pat@example.com"  />

   </div>

   <div class="address">
    <label for="">Address </label>
    <mat-form-field class="example-full-width">
      <mat-label>City</mat-label>
      <input matInput placeholder="Ex. San Francisco">
    </mat-form-field>
   
   </div>

   <div class="role">
    <mat-label>Role</mat-label>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Student</mat-radio-button>
      <mat-radio-button value="2">Teacher</mat-radio-button>
    </mat-radio-group>

   </div>

   <div class="btn">
    <button mat-flat-button>Submit</button>
   </div>
    
  </div>
</div>
