
<form class="register-container" [formGroup]="registerForm" >
  
  
<div class="form" >
 
  <mat-form-field appearance="outline" class="register-container-main-name1"></mat-form-field>
 
  <div class="name"  style="height: -90%;">
    <div style="margin-left: 50px; background-color: antiquewhite; width: 40%; border-radius: 20px;"><h1 style="padding: 10px; border-radius: 20px; margin-left: 40px;">Register</h1></div>
    <div class="fstName" style="top: 0; margin-top: -20px;">
       
      <label for="">First Name :</label>
    <mat-form-field class="example-full-width">
     
    <mat-label>First name</mat-label>
    <input matInput placeholder="firstName"  formControlName="firstName">
  </mat-form-field>
    </div>

   <div class="2ndname" style="margin-top: -30px;">
    <label for="">Last Name :</label>
    <mat-form-field class="example-full-width">
      <mat-label> Last Name </mat-label>
      <input matInput   placeholder="lastName" formControlName="lastName"  >
    </mat-form-field>
   </div>

   <div class="email" style="margin-bottom: 10px; ">
    <label for="">Email :</label>
    <input     style="margin-left: 50px;" matInput   placeholder="pat@example.com"  formControlName="Email" />

   </div>

   <div class="address" style="top: 0;margin-top: -20px;">
    <label for="">Address </label>
    <mat-form-field class="example-full-width">
      <mat-label>City</mat-label>
      <input  style="margin-left: 20px;" placeholder="Ex. San Francisco"  formControlName="city">
    </mat-form-field>
   
   </div>

   <div class="role" style="margin-top: 2px;">
    <mat-label>Role</mat-label>
    <mat-radio-group  style="margin-left: 50px;" aria-label="Select an option"  formControlName="role">
      <mat-radio-button value="student">Student</mat-radio-button>
      <mat-radio-button value="teacher">Teacher</mat-radio-button>
    </mat-radio-group>

   </div>

   <div class="btn"  style="margin-top: 20px; margin-left: 20%;" >
    <button  style="background-color: blue; " mat-flat-button  (click)="handleSubmit()" [routerLink]="['/dashboard/student']" >Submit</button>
   </div>
    
  </div>
</div>

</form>