
<section>
    <div class="navbar">
        <div class="fst-col">
            <div class="menu" style="margin-top: 5px;" >
                <mat-icon >menu</mat-icon>
            </div>
            <!-- <div>
                <div class="keep-img">
                    <img src="../../assets/keep.png" width="40"
                         alt="keep">
                </div>
            </div> -->
            <div >
                <span class="text"><h1>Welcome To Student Teacher Portal</h1></span>
            </div>
        </div>
        <div class="col2">
            <div class="search-icon"  style="height: -100px; top : 5px ;"  >
                <p>
                    
                    <mat-form-field   appearance="outline">
    
                        <mat-icon matPrefix>search</mat-icon> 
                      <input   class="searchbar" matInput placeholder="Search" > 
                      
                      <mat-icon matSuffix *ngIf="searchInput" (click)="clearInput()" >close</mat-icon>
    
                    </mat-form-field>
                  </p>
            </div>
        </div>

        <div class="btn">
            <button class="studentbtn" mat-flat-button [routerLink]="['/student']">Student</button>
            <button  class="teacherbtn" mat-flat-button>Teacher</button>
        </div>

    </div>
</section>